#TOC::before {
  content: "";
  height: 200px;
  display: block;
  margin: -30px 10px -30px 10px;
  background-image: url("../images/logo-ine.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.subtitle {
  color: white;
  background-color: rgb(68, 110, 155);
  font-size: 16px;
  padding: 10px 10px 5px 10px;
}

h1 {
  color: rgb(68, 110, 155);
}